<style>
body { position: relative; }
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  background-image: url('/media/images/music/IMG_3002.webp');
  background-size: cover;
  background-position: center;
  opacity: 1.0;
  z-index: -1;
  pointer-events: none;
}
</style>

<p>Recent posts:</p>

<ul>
    $for(posts)$
        <li>
            <span class="post-date">$date$</span> &mdash;
            <a href="$url$">$title$</a>
        </li>
    $endfor$
</ul>
